.homepageAndUsers
    a(href="/dashboard" class=".fs-3.mb-4")
        i.bi.bi-house-door-fill
        span.align-middle Startseite
    a(href="/profile" class=".fs-3")
        i.bi.bi-person-fill
        span.align-middle Profil
    a(href="/users" class=".fs-3")
        i.bi.bi-people-fill
        span.align-middle Nutzer

.otherButton
    a(href="/other" class=".fs-3")
        span.align-middle Othern
.logoutButton
    a(href="/logout") Logout

//das hier ist die linke Navigationsseite