img.logo(src="/img/logo.svg", alt="logo")

.left-navigationlogin
    a(href="/dashboard" class=".fs-3.mb-4")
        i.bi.bi-house-door-fill
        span.align-middle Startseite

.loginAndRegisterButton
    .loginButton
        a(href="/login" class=".fs-3")
            span.align-middle Login
    .registerButton
        a(href="/registrieren" class=".fs-3")
            span.align-middle Registrieren

//das hier ist die linke Navigationsspalte wenn man nicht eingeloggt ist